# Database
DATABASE_URL="postgresql://neondb_owner:npg_8HqChJWZbaK3@ep-soft-fire-ao3gdpof-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_DATABASE_URL="${DATABASE_URL}"

# Cron job authentication (Run below command on terminal to get a key)
CRON_SECRET="node -e "console.log(crypto.randomUUID())""

# Token encryption key (Run below command on terminal to get a key)
ENCRYPTION_KEY="node -e "console.log(require('crypto').randomBytes(32).toString('hex'))""

